@charset "UTF-8";

a {
	text-decoration: none;
}

img {
	border: 0;	
}

li {
	list-style: none;
}


/* header */

.header {
    width:100%;
    height: 120px;
    text-align:left;
}


.header-top {
    margin:0px auto;
    width: 960px;
    height: 70px;
    clear: both;
}

.header-left {
    width: 480px;
    height: 70px;
    float: left;
}

.header-right {
    width: 480px;
    height: 70px;
    float: left;
}

.menu a:focus {
	border: 0;
}

/* container - main */

.container {
    clear:both;
    width:100%;
    left: 0;
    top: 150px;
    text-align:left;
    padding: 60px 0;
    border-top: 1px solid #ccc;
}

.main-container {
    clear:both;
    margin: 0 auto;
    min-height: 600px;
    width: 920px;
    position: relative;
}

.main-left {
	width: 30%;
	float: left;
	padding-top: 142px;
	font-size: 45px;
	font-weight: 700;
}

.main-left li:nth-child(2){
	font-size: 25px;
	font-weight: 300;
	padding-top: 25px;
}

.main-right {
	height: 100px;
	width: 70%;
	padding-top: 112px;
	float: left;
}

.main-img {
	width: 800px;
	height: 500px;
	position: absolute;
	left: 220px;
}

.main-img img {
	width: 100%;
	height: 100%;
}

/* container - body */

.body-inner {
	position: relative;
	width: 900px;
	margin: 0 auto;
}

.body-side {
	position: absolute;
	left: 0;
	top: 15px;
	color: #495057;
}

.body-side h3 {
	font-size: 16px;
}

.body-side li {
	margin-bottom: 10px;
}

.body-container {
    clear:both;
    width: 700px;
    min-height: 375px;
    border : 1px solid #E9ECEF; /*  테두리 회색 */
    border-radius: 5px;
    margin: 0 auto;
    padding: 5px 20px;
}

.body-title {
    padding: 15px;
    margin: 0 0 25px 0;
    border-bottom: 1px solid #E9ECEF;
}

.body-title h3 {
	color: #495057; /* 짙은 회색 */
    font-size: 16px;
    font-weight: 500;
    min-width: 300px;
    display: inline-block;
}

.btnArticle {
	border:0; 
	background-color: white;
	color: gray;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	font-family: "Noto Sans KR";
}

.body-title button:hover {
	color: #FF8A3D;
}

/* table */

.row-1 {
	border-top: 1px solid #E9ECEF; border-bottom: 1px solid #E9ECEF;	
}
.row-2 {
	border-bottom: 1px solid #E9ECEF;
}

.row-3 {
	border-top: 0;
	border-bottom: 0;
}

.table-row1 {
	text-align: center;
	background-color: white;
	color: #495057;
	height: 35px;
	border-top: 1px solid #495057; 
	border-bottom: 1px solid #E9ECEF;
}

.table-row2 {
	text-align: center;
	background-color: white;
	height: 35px;
	border-bottom: 1px solid #E9ECEF;
}

.col-1 {
	padding: 20px 20px 0;
	font-weight: 500;
	font-size: 16px;
}

.col-2 {
	padding: 5px 20px 10px;
	color: gray;
}

.col-3 {
	padding: 10px 20px;
}

.col-4 {
	padding: 10px 15px;
}

.artiBox{
	padding: 20px 20px;
}

/* list */

.list-table {
	width: 100%; 
	margin: 0px auto; 
	border-spacing: 0px;
}

.list-title {
    padding: 15px 20px;
    margin: 0 0 25px 0;
    background-color: #F8F9FA; /* 배경 회색 */
}

.list-title h3 {
	color: #495057; /* 짙은 회색 */
    font-size: 16px;
    font-weight: 500;
}

/* create */

.create-row {
	text-align: left;
	height: 43px;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc;
}

.create-col1 {
	width: 100px;
	text-align: center;
	background-color: #F8F9FA;
}

.create-col2 {
	width: 100px;
	text-align: center;
	vertical-align: top;
	background-color: #F8F9FA;
	padding-top: 10px;
}


.create-table {
	width: 100%; 
	margin: 0 auto; 
	border-spacing: 0px; 
	border-collapse: collapse;
}

.create-table2 {
	width: 100%; 
	margin: 10px 0; 
	border-spacing: 0px; 
}

/* notice */
.notice-row {
	text-align: center;
	background-color: #F8F9FA;
	height: 35px;
	border-bottom: 1px solid #F8F9FA;
}

.notice-badge {
	display: inline-block; 
	padding: 1px 5px; 
	color: white; 
	border-radius: 4px;
	background: #FF8A3D;
	font-weight: 500;
}

/* form */

.formBox {
	padding: 0 15px;
}

/* member 회원가입 */

.memberFormBody {
	position: absolute; 
	top: 100px; 
	width: 750px; 
	background-color: white;
}

.memberFormBody p {
	margin-left: 5px;
	color: #4C4C4C;
	font-weight: 300;
}

.memberFormBody select {
	width: 28%;
	height: 40px;
	border: 1px solid #ccc;
	margin: 5px;
	padding-left: 10px;
}

.memberFormBody button {
	height: 40px;
	width: 100px;
	margin-left: 5px;
	margin-right: 5px;
}

.memberFormBody input:focus {
	background-color: white;
	outline: 1px solid #FF8A3D;
}

.memberFormBody .formCol-1 {
	width: 20%;
	text-align: left;
	margin: 5px 0;
}

.memberFormBody .formCol-2 {
	width: 78%;
	text-align: left;
}

.member-table-1 {
	width: 85%; 
	margin: 0 auto;
	border-spacing: 0 10px;
}

.member-table-2 {
	width:100%; 
	margin: 40px auto; 
	margin-bottom: 60px; 
	border-spacing: 0px;
}

.member-table-2 button {
	width: 150px;
}

.memberForm {
	width :95%;
	height: 30px;
	padding: 5px;
	padding-left: 10px;
	margin: 5px;
  	font-size:14px;
  	border-radius:2px;
  	border: 0;
  	background-color: #eee;
}

.memberForm2 {
	width :28.5%;
	height: 30px;
	padding: 5px;
	padding-left: 10px;
	margin: 5px 0;
  	font-size:14px;
  	border-radius:2px;
  	border: 0;
  	background-color: #eee;
}

.member-title {
	text-align: center ; 
	height: 40px; 
	padding-top: 60px; 
	font-size: 25px; 
	font-weight: 500;
}


/* photo */

.body-photo {
	width: 100%;
}

.body-photo img {
	height: 190px;
	width: 190px;
}

.body-photo .imgLayout {
	width: 190px;
	height: 278px;
	margin: 5px 5px 20px;
	border: 1px solid #ccc;
    cursor: pointer;
}

.body-photo .subject {
     display: inline-block;
     font-weight: 500;
     white-space:nowrap;
     overflow:hidden;
     text-overflow:ellipsis;
     text-align: left;
     padding: 0 10px;
}

.body-photo .subject2 {
	 display: inline-block;
     font-weight: 300;
     white-space:nowrap;
     overflow:hidden;
     text-overflow:ellipsis;
     padding: 8px 10px 3px;
}
	
/* footer */
.footer {
	clear:both;
    width:100%;
    height:150px;
    margin:5px auto;
    text-align:center;
    background-color: #495057; /* 짙은 회색 */
    color: white;
    line-height: 50px;
}

.footer a {
	color: white;
}

.footer-con {
	width: 980px;
	margin: 0 auto;
	padding-top: 50px;
}

.footer-left {
	float: left;
	width: 160px;
}

.footer-right {
	float: left;
	padding-left: 140px;
	line-height: 45px;
}

/* menu */
.menu {
    margin:0px auto;
    width: 960px;
    min-height: 40px;
    clear: both;
    /*box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);*/
    box-sizing: border-box;
}

ul.nav {
  width:100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.nav li { 
  display: inline;
  font-weight: 500;
}

ul.nav li a {
  float: left;
  line-height: 50px;
  color: #555;
  text-decoration: none;
  margin: 0;
  padding: 0 30px;
}

ul.nav .current a, ul.nav li:hover > a {
  color: #555;
  font-weight : 700;
  text-decoration: none;
}

ul.nav ul {
  display: none;
}

ul.nav li:hover > ul {
  position: absolute;
  display: block;
  width: 960px;
  height: 40px;
  margin: 50px 0 0 -1px;
  z-index: 101;
  box-sizing: border-box;
  background: #F5EBDF;
}

ul.nav li:hover > ul li a {
  float: left;
  line-height: 39px;
  color: #555;
  text-decoration: none;
  margin: 0;
  padding: 0 20px 0 20px;
  background: #F5EBDF;
}

ul.nav li:hover > ul li a:hover {
  color: #555;
  text-decoration: none;
}


/* navigation */
.navigation {
    width:100%;
    height: 40px;
    clear: both;
    background: #ffffff;
}

.nav-bar {
    width:960px;
    height: 40px;
    clear: both;
    margin:0px auto;
    line-height:40px;
    text-align:right;
    background: #ffffff;
}
